@charset "utf-8";
.NavLeft{
    background-color: #D6D6D6;
    width: 15%;
    float: left;
    height: 100vh;
    box-shadow: 0px 5px 0px 0px gray;
   h3{
       text-size-adjust: 30px;
       margin-top: 15px;
       margin-left: 5px;
   }
    ul{
        margin: 1em;
        li{
            margin: 0.5em;
        }
    }
    
    
}