.Modal{
    align-items:center;
    width:50vh;
    height:70vh;
    background-color:white;
    border-radius: 20%;
    position: absolute;
    top: 10vh;
    left:50vh;
    padding: 5%;
    border:1px solid gray;
    box-shadow: 0px 1px 1px 0px gray;

}
